span1
{
  color: red;
}
span2
{
  color: brown;
}
span3
{
  color: black;
}
span4
{
  font-weight: italic;
  color: red;
  font-size: 2em;
}
p.Sith
{
  text-align: center;
  color: red;
  font-size: 1.5em;
}
p.Sith-Mini-Game
{

  color: red;
  font-size: 1.2em;
}
.container {
  background-color: black;
  border: 10px solid #4b2e83;
  width: 500px;
}
.panel {
  margin: 20px auto;
  width: 400px;
}
.winner {
  color: green;
}
h1 span {
  background-color: black;
  font-family: "Press Start 2P", cursive;
  font-size: 60px;
  color: red;
}
p.green
{
  color: green;
}
