style1
{
  background-color: rgb(238, 6, 6);
}

style2
{
  background-color: rgba(238, 6, 6, .9);
}
style3
{
  background-color: rgba(238, 6, 6, .8);
}
style4
{
  background-color: rgba(238, 6, 6, .7);
}
style5
{
  background-color: rgba(238, 6, 6, .6);
}
style6
{
  background-color: rgba(238, 6, 6, .5);
}
style7
{
  background-color: rgba(238, 6, 6, .4);
}
style8
{
  background-color: rgba(238, 6, 6, .3);
}
style9
{
  background-color: rgba(238, 6, 6, .2);
}
style10
{
  background-color: rgba(238, 6, 6, .1);
}


style11
{
  background-color: hsl(0, 95%, 48%);
}
style12
{
  background-color: hsla(0, 95%, 48%, .9);
}
style13
{
  background-color: hsla(0, 95%, 48%, .8);
}
style14
{
  background-color: hsla(0, 95%, 48%, .7);
}
style15
{
  background-color: hsla(0, 95%, 48%, .6);
}
style16
{
  background-color: hsla(0, 95%, 48%, .5);
}
style17
{
  background-color: hsla(0, 95%, 48%, .4);
}
style18
{
  background-color: hsla(0, 95%, 48%, .3);
}
style19
{
  background-color: hsla(0, 95%, 48%, .2);
}
style20
{
  background-color: hsla(0, 95%, 48%, .1);
}