span
{
  background-color: red;
  color:rgb(517,04,191);
  font-size:101pt
}

span1
{
  color: white;
}
span2
{
  background-color:black;
}
span3
{
  font-size: .1pt
}
span4
{
  background-color: white;
}
span5
{
  color:white
}
span6
{
  background-color: red;
  color: white;
  font-size: 15pt
}