body1 {
  /*======================= flex container =====================*/
  display: flex; /* controls items within body     */
  flex-direction: column; /* controls the following format  */
  justify-content: center; /* centers demo box horizonally   */
  align-items: center; /* centers demo box vertically    */
  /*============================================================*/

  /*======================== body Sizing =======================*/
  height: 100vh; /* 1vh = 1% of viewport height              */
  width: 100vw; /* 1vw = 1% of viewport width               */
  margin: 0 auto; /* no margin, browser calculates the margin */
  padding: 0; /* no padding                               */
  /*============================================================*/

  /*================= background gradient demos ================*/
  /* [OPTIONAL] lime green background radiating out from center */
  background: -webkit-radial-gradient(#fcee21, #009245);
  background: radial-gradient(#fcee21, #009245);
  /* [PRIMARY] UW purple background radiating out from center   */
  background: -webkit-radial-gradient(#d9d9d9, rgb(51, 0, 111));
  background: radial-gradient(#d9d9d9, rgb(51, 0, 111));
  /*============================================================*/
}

/* ============================================================ */
.container {
  width: 600px;
  height: 450px;
  border: 10px solid gray;
  background-color: pink;

  /*======================= flex container =====================*/
  display: flex; /* controls container item divs     */
  flex-direction: row; /* default setting - but shown here */
  /* note: swap the following options around and observe items  */
  justify-content: flex-start; /* packs items left horizonally  */
  justify-content: flex-end; /* packs items right horizonally */
  justify-content: space-evenly; /* equal spacing around items  */
  justify-content: space-around;
/*   justify-content: center; */
  
  align-items: center; /* centers items vertically         */
  flex-flow: row wrap;
  box-shadow: 10px 5px 50px rgba(0, 0, 0, 0.9);
}
/* ============================================================ */

.item {
  border: 5px solid #424242;
  border-radius: 12px;
  width: 75px;
  height: 50px;
  font-size: 2em;
  font-family: "Noto Sans", sans-serif;
  color: lightgray;

  /*======================= flex container =====================*/
  display: flex; /* controls text within item <div>*/
  justify-content: center; /* horizonal alignment of text*/    
  align-items: center; /* vertical alignment of text*/     
  /*============================================================*/
}

#item1 {
  background-color: #91b496; /* green-ish  */
}

#item2 {
  background-color: #f5ab35; /* orange-ish */
}

#item3 {
  background-color: #8e44ad; /* purple-ish */
}

#item4 {
  background-color: #e26a6a; /* salmon-ish */
}

#item5 {
  background-color: #3a539b; /* blue-ish   */
}
