span
{
  color: white;
  font-size: 15pt
}
span2
{
  color: gold;
  font-size: 25pt
}
span3
{
  color: red;
  font-size: 30pt
    
}
span4
{
  color: yellow;
  font-size: 30pt
}
span5
{
  color: grey;
  font-size: 30pt
}
span6
{
  color: grey;
  font-size: 30pt
}
span7
{
  color: purple;
}